.logo {
  color: blue;
  font-size: 30px;
  font-weight: bolder;
}

.book-card {
  margin: 20px 0;
  border: 1px solid rgb(226, 221, 221);
  padding: 20px;
  border-radius: 10px;
}

.book-card span {
  color: gray;
  font-weight: 400;
}

.card-book {
  margin: 5px 0;
}

.card-book span {
  margin: 0 10px;
  color: rgb(102, 179, 230);
}

.card-book button {
  margin: 0 10px;
  color: rgb(102, 179, 230);
  border: none;
  border-right: 1px solid rgb(226, 221, 221);
  border-left: 1px solid rgb(226, 221, 221);

  background-color: white;
}

.navbarr {
  border-bottom: 1px solid rgb(226, 221, 221);
  margin-bottom: 30px;
}

.cates {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-color: white;
  color: rgb(226, 221, 221);
}

/* Progress  */

.progress {
  height: 100%;
  background-color: white;
}

.progress .p1 {
  color: rgb(102, 179, 230);
}

.p1{
  font-size: 68px;
}

.p2 h3 {
  font-size: 20px;
  margin: 0;
}

.chapter span {
  font-size: 15px;
}

.chapter p {
  font-size: 15px;
}

.chapter button {
  font-size: 15px;
}